################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Ajax/.vs/Ajax/v15
/angular2/todolist/node_modules
/angular2
