/Ajax/.vs/Ajax/v15/Server/sqlite3
/Ajax/.vs/Ajax/v15
/Ajax/.vs/config
/Ajax/Samples.AspNet.Controls/bin/Debug
/Ajax/Samples.AspNet.Controls/obj/Debug
/Ajax/Samples.AspNet.Controls/Samples.AspNet.Controls.csproj.user
/Ajax/WebSite/Bin
/angular2
/jQueryUI
/Ajax/WebApp/bin
/Ajax/WebApp/obj/Debug
/AsmxWebService/AsmxWebService
/AsmxWebService/AsmxWebService.Tests
/AsmxWebService/AsmxWebService.sln
/AspNetCoreWebApplication
/AsmxWebService/.vs

/Ajax/.vs/Ajax/v16/Server/sqlite3
